@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primaryColor: #5f6fff;
  --textColor: #4b5563;
  --hoverPrimaryColor: #5562d0;
}

body {
  font-family: "Outfit", sans-serif !important;
}

ul {
  list-style-type: none !important;
  margin-left: 0 !important;
}

#login-form {
  max-width: 450px;
  display: grid;
  width: 100%;
  gap: 1rem;
  text-align: center;
  input {
    width: 100%;
  }
}
